@model List<Fiap05.Web.MVC.Models.CartaoVirtual>
@{
    ViewBag.Title = "Listar";
}

<h2>Cartões Virtuais</h2>

<table>
    <tr>
        <th>Número</th>
        <th>Utilizado</th>
        <th>Cartão Real</th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>@item.Numero</td>
        <td>@(item.Utilizado?"Sim":"Não")</td>
        <td>@item.CartaoReal.Numero</td>
    </tr>
    }
</table>

