@model Fiap08.Web.MVC.ViewModel.PatrocinadorViewModel

@{
    ViewBag.Title = "Cadastrar Patrocinador";
}

<h2>Cadastrar</h2>
@if (TempData["msg"] != null)
{
    <div class="alert alert-success">@TempData["msg"]</div>
}

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(p => p.Patrocinador.Nome)
        @Html.TextBoxFor(p => p.Patrocinador.Nome, new { @class = "form-control" })
    </div>
    <input type="submit" value="Cadastrar" class="btn btn-primary" />
}
    
    <div class="form-group">
        <table class="table table-striped">
            <tr>
                <th>Nome</th>
            </tr>
            @foreach (var item in Model.Patrocinadores)
            {
                <tr>
                    <td>@item.Nome</td>
                </tr>
            }
        </table>
    </div>
