@model List<FIap09.Web.MVC.Models.Genero>


@{
    ViewBag.Title = "Lista";
}

<h2>Lista de Gêneros</h2>


<table class="table table-striped">
    <tr>
        <th>Nome</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Nome</td>
        </tr>
    }
</table>

}
